@{
    ViewBag.Title = "Nos offres";
}

@section Menu {
    <ul>
        <li>
            @Html.ActionLink("Accueil", "Index", "Home")
        </li>
        <li class="selected">
            @Html.ActionLink("Nos offres", "Index", "Offre")
        </li>
        <li>
            @Html.ActionLink("Nos meetings", "Index", "Meeting")
        </li>
        <li>
            @Html.ActionLink("Contact", "Index", "Contact")
        </li>
    </ul>
}

<div>
    <h2>@ViewBag.Title</h2>
    <p>
        @ViewBag.IDEmploi
    </p>
</div>
