@{
    ViewBag.Title = "Acceuil";
}

@section Menu {
    <ul>
        <li class="selected">
            @Html.ActionLink("Accueil", "Index", "Home")
        </li>
        <li>
            @Html.ActionLink("Nos offres", "Index", "Offre")
        </li>
        <li>
            @Html.ActionLink("Nos meetings", "Index", "Meeting")
        </li>
        <li>
            @Html.ActionLink("Contact", "Index", "Contact")
        </li>
    </ul>
}

<div>
    <h2>L'autre idée du recrutement</h2>
    <p>
        Saverio Malermo est maintenant le leader dans le recrutement IT. Curabitur fermentum neque auctor leo laoreet laoreet. Nam a purus id urna fringilla ultrices. Cras facilisis tortor massa, sed faucibus nisl sagittis ut. Integer et ultricies urna. Cras lobortis quam eget sodales dictum. Duis euismod gravida ligula et maximus. Ut consequat erat quam, eu feugiat velit imperdiet vehicula. Quisque at venenatis nisi. Phasellus quis urna nibh. Sed nec metus non orci dapibus sodales. Proin eu justo sem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae auctor orci. Sed aliquam dictum metus, sit amet ullamcorper lacus mattis et. Phasellus varius diam non posuere tristique. Maecenas interdum dui in lectus ultricies, vel venenatis mi euismod.
    </p>
    <ul>
        <li>
            <a href='@Url.Action("Index", "Offre", new { idEmploi = 1 }, null)'>
                <img src="~/Content/images/figure2.jpg" />
            </a>
            @Html.ActionLink("Développeur", "Index", "Offre", new { idEmploi = 1 }, null)
        </li>
        <li>
            <a href='@Url.Action("Index", "Offre", new { idEmploi = 2 }, null)'>
                <img src="~/Content/images/figure3.jpg" />
            </a>
            @Html.ActionLink("Chef de projet", "Index", "Offre", new { idEmploi = 2 }, null)
        </li>
        <li>
            <a href='@Url.Action("Index", "Offre", new { idEmploi = 3 }, null)'>
                <img src="~/Content/images/figure4.jpg" />
            </a>
            @Html.ActionLink("Designer", "Index", "Offre", new { idEmploi = 3 }, null)
        </li>
        <li>
            <a href='@Url.Action("Index", "Offre", new { idEmploi = 4 }, null)'>
                <img src="~/Content/images/figure5.jpg" />
            </a>
            @Html.ActionLink("Directeur", "Index", "Offre", new { idEmploi = 4 }, null)
        </li>
    </ul>
</div>